/*// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.asap-<uniquifier> {
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/
html {
    box-sizing: border-box;
    font-family: "Asap", sans-serif;
    font-size: 1.20rem;
    line-height: 125%;
    color: #50504f;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

nav {
    background-color: #c98226;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    padding: 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:link,
nav a:visited {
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

nav a:hover,
nav a:active {
    color: #50504f;
    background-color: #b16d20;
    text-decoration: underline;
}

main {
    width: 80%;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
}

h1 {
    font-size: 4rem;
    margin: 6% 0;
    text-align: center;
    text-shadow: 3px 4px 3px #ccc;
}

img {
    float: left;
    max-width: 25%;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 50%;
    box-shadow: 5px 5px 3px #ccc;
    shape-outside: circle(50%);
}

header h2 {
    margin-top: 10%;
}

.rate {
    clear: both;
    margin-top: 6%;
    text-align: center;
    font-size: 1.5rem;
}

.emoji::after {
    content: "\1f370";
}

.details,
.ingredients,
.instructions,
.nutrition {
    width: 40%;
    float: left;
}

.details,
.instructions {
    margin-right: 16%;
    margin-left: 2%;
}

blockquote {
    clear: both;
    width: 300px;
    height:280px;
    padding: 85px 16px 0 33px;
    border-radius: 50%;
    background-color: #f3b96c;
    outline: dotted 6px #c98226;
    outline-offset: 10px;
    font-family: "Asap", sans-serif;
    font-size: 1rem;
    margin: 40px auto;
}

blockquote small {
    display: block;
    text-align: right;
}

footer {
    background-color: #c98226;
    color: white;
    padding: 2% 0;
    margin-top: 10px;
}

footer a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

footer ul {
    list-style-type: none;
}

.col1,
.col2,
.col3 {
    display: block;
    float: left;
    width: 33%;
}

footer p {
    clear: both;
}

/* media queries go below */

@media (max-width: 360px) {

    html {
        line-height: 135%;
    }

    nav a {
        padding: 5px;
        letter-spacing: normal;
        font-size: .9rem;
    }

    nav ul {
        padding-left: 10px;
    }

    main {
        width: 90%;
    }

    h1 {
        font-size: 1.5rem;
        text-shadow: none;
    }

    h2 {
        font-size: 1.2rem;
    }

    img {
        float: none;
        max-width: 60%;
        margin-left: 20%;
    }

    .rate {
        font-size: 1rem;
    }

    .details,
    .ingredients,
    .instructions,
    .nutrition {
    width: 90%;
    float: none;
    }

    .col1,
    .col2,
    .col3 {
    display: block;
    float: none;
    width: 90%;
    }

}

@media (max-width: 810px) {
    html {
        font-size: 1.4rem;
    }

    nav a {
        padding: 10px;
        font-size: 1rem;
    }

    main {
        width: 90%;
    }

    img {
        float: left; 
        max-width: 40%; 
        margin: 0 5% 20px 0; 
        shape-outside: circle(50%); 
    }

    h1 {
        font-size: 2rem; 
        margin: 4% 0; 
    }

    h2 {
        font-size: 1.8rem; 
        margin-top: 5%;
    }

    .details,
    .ingredients,
    .instructions,
    .nutrition {
        width: 100%; 
        float: none;
        margin-bottom: 20px; 
    }

    blockquote {
        width: 60%; 
        padding: 70px 30px; 
        height: auto; 
        margin: 20px auto; 
    }

    .col1,
    .col2,
    .col3 {
        display: block;
        float: none;
        width: 100%; 
        text-align: center; 
    }

    footer p {
        margin-top: 20px; 
    }
}
